body{
	background: linear-gradient(to right, #ff0000 , #ff00ff);
}

h1{
	font-family: cursive;
	text-transform: uppercase;
	text-align: center;
	margin-left: 5%;
	font-size: 80px;
	opacity: 0.3;
	letter-spacing: 20px;
}
h2{
	text-transform: uppercase;
	text-align: center;
	margin-left: 5%;
	font-size: 20px;
	opacity: 0.5;
	letter-spacing: 10px;
}
h3{
	text-align: center;
	margin-left: 5%;
	font-size: 20px;
	opacity: 0.5;
}
.color{
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}
input[type="color"] {
	-webkit-appearance: none;
	border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
#color1{
	width: 100px;
	height: 30px;
	background-color: #ff0000;
	border: 2px solid white;
}
#color1t{
	margin-top: 0;
	width: 100px;
	height: 30px;
	background-color: transparent;
	font-size: 20px;
	color: #ffffff;
	border: none;
}
#color2{
	width: 100px;
	height: 30px;
	background-color: #ff0000;
	border: 2px solid white;
}
#color2t{
	margin-top: 0;
	width: 100px;
	height: 30px;
	background-color: transparent;
	font-size: 20px;
	color: #ffffff;
	border: none;
}
